.custom-navbar {
  margin-right: 5%;
}

.custom-nav-item {
  font-family: "Space Mono", monospace;
  color: #3f0d12;
  cursor: default;
}

.custom-nav-item:hover {
  color: #15616d;
}

.custom-nav-item:active {
  color: #15616d;
}

.resume {
  text-decoration: none;
  color: #3f0d12;
}
